.stylesjoin {
  width: 10%;
}

.active-link {
  text-decoration: underline;
}

.link {
  text-decoration: none;
}

.stylemissionsbutton {
  margin-top: 2.4em;
}

.table > :not(caption) > * > * {
  padding-left: 1em;
}
